/* body{
    height: 500px;
    width:100%;
   
} */
.body{
   
}
.bg-15{
    padding-top: 50px;
    background-color: rgb(120, 170, 170);
    width: 800px;
    height: 500px;
    
    
}
.p1 {
   text-align: center;
    background-color: red;
    width: 120px;
    height: 50px;
}
.p2 {
    margin-left: 500px;
    color: #ff0000;
    background-color: #ff0;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
.p3 {

    border-top-left-radius:10px ;
    text-align: center;
    border-bottom-right-radius:20px ; 
    color: rgb(255, 0, 0);
    background-color: rgb(33, 25, 137);
    width: 120px;
    height: 50px;
    margin-left: 200px;
}